@use "sass:color";
@use "sass:math";
@use "sass:map";

@mixin sskColorMixin($color){
    color: $color;
    border-color: $color;
    border-style: solid;
    @content;
}

@mixin buttonMixin($color:#e2e2e2, $outlined:false, $br: false) {

    @if $outlined == true{
        border:$base-border-thickness solid $color;
        color: $color;
        background-color: #ffff;
    } @else {
        border: none;
        background-color: $color;        
    }

    @if $br == true{
        border-radius: $base-border-radius;
    } @else{
        border-radius: none;
    }

    text-decoration: none;
    cursor: pointer;
    padding: $base-padding $base-padding*2;
}

/* Responsive */

@mixin xs {
    @media screen and (min-width: map.get($screen-sizes, "xs")){
        @content;
    }
}

@mixin sm {
    @media screen and (min-width: map.get($screen-sizes, "sm")){
        @content;
    }
}

@mixin md {
    @media screen and (min-width: map.get($screen-sizes, "md")){
        @content;
    }
}

@mixin lg {
    @media screen and (min-width: map.get($screen-sizes, "lg")){
        @content;
    }
}

@mixin xl {
    @media screen and (min-width: map.get($screen-sizes, "xl")){
        @content;
    }
}

@mixin break-point($pb:0){
    @media screen and (min-width: $pb) {
        @content;
    }
}

/* Grid */

@mixin grid($nb, $nb-columns) {
    box-sizing: border-box;
    flex-grow: 0;
    width: math.div($nb * 100%, $grid-columns);
}