/* Variables */
$base-margin : 0.75rem;
$base-padding: 0.75rem;
$base-border-thickness : 1px;
$base-border-radius: 20px;

$base-box-shadow: 3px 3px 15px 0px rgba(66, 68, 90, 0.2);

$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.75;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size *2;
$font-size-xxl: $base-font-size *3;


/* break point */
$screen-sizes:(
    "xs": 0,
    "sm": 480px,
    "md": 720px,
    "lg": 960px,
    "xl": 1200px
);


/* Grid Column */
$grid-columns: 12;

//grid-gaps
$grid-gaps:(
    "0":0,
    "1":10px,
    "2":20px,
    "3":30px
);

//justify content
$layout-values: flex-start, flex-end, center, space-around, space-between;


