
@use "../theme/colors" as sskColor;
@use "../theme/fonts" as sskFont;
@import "./mixins/sskMixin";

/* global css & reset style */

*{
 color: inherit;    
 margin: 0;   
}

body{
    font-family: sskFont.$default;
    font-size: 15px;
    color: sskColor.$default;
}

ul{
    padding: 0;
    list-style-type: none;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}

//Optional
hr {
    border: 0;
    border-top: 1px dotted #c3c3c3;
}

.error{
    @include sskColorMixin(sskColor.$error){
        margin: $base-margin;
        padding: $base-padding;
        border-radius: $base-border-radius;
        border-width: $base-border-thickness;
    }
}

.secondary{
    @include sskColorMixin(sskColor.$secondary){
        margin: $base-margin;
        padding: $base-padding;
        border-radius: $base-border-radius;
        border-width: $base-border-thickness;
    }
}

/* h1{
    color: sskColor.$primary;
} */

/* button{
    background-color: sskColor.$primary;
    border-radius: $base-border-radius;
    border: 0;
    color: white;
    padding: $base-padding;
} */

.test{
    @include xs{
        color: blue;
    }
    @include sm{
        color: rgb(140, 255, 0);
    }
    @include md{
        color: rgb(225, 0, 255);
    }
    @include lg{
        color: rgb(255, 153, 0);
    }
    @include xl{
        color: rgb(255, 0, 0);
    }
} 