@use "../theme/colors" as sskColor;
@use "../theme/fonts" as sskFont;
@use "sass:color";
@use "sass:math";
@use "sass:map";

.card{
    display: block;
    padding: $base-padding;
    border: $base-border-thickness solid #ddd;
    box-shadow: $base-box-shadow;
    border-radius: math.div($base-border-radius, 4) ;

    .card-title{
        font-size: $font-size-lg;
        padding-bottom: $base-padding;
        font-weight: bold;
    }

    .card-body{
        font-size: $base-font-size;

        a{
            text-decoration: underline;
            color: sskColor.$default;
        }
    }
}


@debug "hello ninja"